{% include "header.html" %}

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="{{ url_for('static', filename='images/icon/logo.png')}}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {% include "sidebar.html" %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">

                            </form>
                            <div class="header-button">

                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{{ url_for('static', filename='images/icon/avatar-01.jpg')}}"
                                                alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Arya</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{{ url_for('static', filename='images/icon/avatar-01.jpg')}}"
                                                            alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Admin</a>
                                                    </h5>
                                                    <span class="email">admin@gmail.com/span>
                                                </div>
                                            </div>

                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="wrapper">
                <div class="content-wrapper">
                    <div class="container">
                        
                        <br>
                        <br>
                        <br>
                        <br>
                        <section class="content-header">
                            {% for message in get_flashed_messages()%}
                            <div class="alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ message }}
                            </div>
                            {% endfor%}
                        </section>
                        <section class="content">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <a href="/tambahsiswa">
                                        <center>
                                            <button type="button" class="btn btn-info btn-flat">
                                                <i class="zmdi zmdi-plus"></i> Tambah Data Siswa
                                            </button>
                                        </center>
                                    </a>
                                </div>
                                <br>
                                <div class="box-body">
                                    <table class="table table-bordered table-striped">
                                        <thead align="center">
                                            <tr>
                                                <th>NISN</th>
                                                <th>Nama</th>
                                                <th>Jenis Kelamin</th>
                                                <th>Kelas</th>
                                                <th>Tanggal Lahir</th>
                                                <th>Alamat</th>
                                                <th>Aksi</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if datasiswa|length == 0 %}
                                            <tr>
                                                <td>No Data</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                {% for row in datasiswa %}
                                                <td>{{ row[1] }}</td>
                                                <td>{{ row[2] }}</td>
                                                <td>{{ row[3] }}</td>
                                                <td>{{ row[4] }}</td>
                                                <td>{{ row[5] }}</td>
                                                <td>{{ row[6] }}</td>
                                                <td align="center">
                                                    <a href="/updatesiswa/{{ row[0]}}">
                                                        <button type="button" class="btn btn-sm btn-primary btn-flat"
                                                            title="Update"> <i class="zmdi zmdi-edit"></i></button>
                                                    </a>
                                                    <a href="/haldeletesiswa/{{ row[0]}}">
                                                        <button type="button" class="btn btn-sm btn-danger btn-flat"
                                                            title="Delete"> <i
                                                                class="zmdi zmdi-delete"></i></span></button>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif%}
                                        </tbody>
                                    </table>
                                </div>
                        </section>
                    </div>
                </div>

            </div>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% include "footer.html" %}
          