<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p>Copyright © 2020</p>
        </div>
    </div>
</div>
</div>
</div>
</div>
<!-- END MAIN CONTENT-->
<!-- END PAGE CONTAINER-->
</div>

</div>
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
<!-- Jquery JS-->
<script src="{{ url_for('static', filename='vendor/jquery-3.2.1.min.js')}}"></script>
<!-- Bootstrap JS-->
<script src="{{ url_for('static', filename='vendor/bootstrap-4.1/popper.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-4.1/bootstrap.min.js')}}"></script>
<!-- Vendor JS       -->
<script src="{{ url_for('static', filename='vendor/slick/slick.min.js')}}">
</script>
<script src="{{ url_for('static', filename='vendor/wow/wow.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/animsition/animsition.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')}}">
</script>
<script src="{{ url_for('static', filename='vendor/counter-up/jquery.waypoints.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/counter-up/jquery.counterup.min.js')}}">
</script>
<script src="{{ url_for('static', filename='vendor/circle-progress/circle-progress.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/chartjs/Chart.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}">
    
</script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>

<!-- Main JS-->
<script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>
<!-- end document-->