<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <img src="{{ url_for('static', filename='images/icon/logo.png')}}" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a class="js-arrow" href="#">
                        <i class="fas fa-table"></i>Data</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/dataguru">Data Guru</a>
                        </li>
                        <li>
                            <a href="/datasiswa">Data Siswa</a> 
                        </li>
                        <li>
                            <a href="/datamapel">Data Mata Pelajaran</a>
                        </li>
                       
                    </ul>
                </li>
                <li>
                    <a href="/">
                        <i class="fas fa-user"></i>Admin</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>