{% include "header.html" %}

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="{{ url_for('static', filename='images/icon/logo.png')}}" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {% include "sidebar.html" %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">

                            </form>
                            <div class="header-button">

                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="{{ url_for('static', filename='images/icon/avatar-01.jpg')}}"
                                                alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">Arya</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="{{ url_for('static', filename='images/icon/avatar-01.jpg')}}"
                                                            alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#">Admin</a>
                                                    </h5>
                                                    <span class="email">admin@gmail.com/span>
                                                </div>
                                            </div>

                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="content-wrapper">
                <div class="container">
                    <section class="content">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <div class="box box-info">
                            <div class="box-header with-border">

                                <h3 class="box-title">Tambah Data Siswa</h3>

                            </div>
                            <br>
                            <form class="form-horizontal" method="POST" action="/tambahdatasiswa">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">NISN</label>

                                        <div class="col-sm-10">
                                            <input name="nisn" type="text" class="form-control" placeholder="NISN"
                                                autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama Siswa</label>
                                        <div class="col-sm-10">
                                            <input name="nama" type="text" class="form-control" placeholder="Nama Siswa"
                                                autocomplete="off" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Jenis Kelamin</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="jk">
                                                <option>-Pilih Jenis Kelamin-</option>
                                                <option value="L">Laki-Laki</option>
                                                <option value="P">Perempuan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kelas</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="kelas">
                                                <option>-Pilih Kelas-</option>
                                                <option value="7A">7A</option>
                                                <option value="7B">7B</option>
                                                <option value="7C">7C</option>
                                                <option value="7D">7D</option>
                                                <option value="8A">8A</option>
                                                <option value="8B">8B</option>
                                                <option value="8C">8C</option>
                                                <option value="8D">8D</option>
                                                <option value="9A">9A</option>
                                                <option value="9B">9B</option>
                                                <option value="9C">9C</option>
                                                <option value="9D">9D</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Tanggal Lahir</label>
                                        <div class="col-sm-10">
                                            <input name="ttl" type="date" class="form-control" autocomplete="off"
                                                required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Alamat</label>
                                        <div class="col-sm-10">
                                            <input name="alamat" type="text" class="form-control" placeholder="Alamat"
                                                autocomplete="off" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="box-footer">
                                    <a href="/datasiswa"><button type="button" class="btn btn-info">Kembali</button></a>
                                    <input name="save" type="submit" class="btn btn-success pull-right" value="Save">
                                </div>

                            </form>
                        </div>
                    </section>
                </div>
            </div>


            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% include "footer.html" %}